{% extends 'read_write_variable/base.html' %}
{% load static %}

{% block content %}


<!-- end:: Aside -->
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
{% include 'read_write_variable/home_header.html' %}

	<!-- begin:: Content -->
	<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
		{% include 'read_write_variable/home_subheader_phone.html' %}

		<!-- begin:: Content -->
		<div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
			<div class="row">
				{% if nbar == 0 %}
					{% include 'read_write_variable/form/state.html' %}
				{% endif %}
				{% include 'read_write_variable/form/read_variable.html' %}
				{% include 'read_write_variable/form/write_variable.html' %}
			</div>
			<div class="kt-portlet">
				<div class="kt-portlet__head kt-portlet__head--lg">
					<div class="kt-portlet__head-label">
						<span class="kt-portlet__head-icon">
							<i class="kt-font-brand flaticon2-line-chart"></i>
						</span>
						<h3 class="kt-portlet__head-title">
						{% for project in projects %}
							{% if nbar == project.id %}
								{{project.description}}
							{% endif %}
						{% endfor %}
						</h3>
					</div>
				</div>
				<div class="kt-portlet__body">

					{% include 'read_write_variable/project/datatable.html' %}
					{% include 'read_write_variable/project/datatable_js.html' %}
				</div>
			</div>
		</div>
		<!-- end:: Content -->
	</div>

	{% include 'read_write_variable/header_content.html' %}
	{% include 'read_write_variable/footer.html' %}
</div>

{% endblock %}
