appdirs==1.4.4
asgiref==3.3.4
certifi==2020.12.5
chardet==4.0.0
distlib==0.3.1
Django==3.1.9
django-crispy-forms==1.11.2
django-debug-toolbar==3.2.1
django-widget-tweaks==1.4.8
docopt==0.6.2
filelock==3.0.12
idna==2.10
py-openshowvar==1.1.6
pytz==2021.1
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.5
virtualenv==20.4.3
yarg==0.1.9
