{% load static %}
<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">

  <!-- begin:: Content Head -->
  <div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-subheader__main">
      <h3 class="kt-subheader__title">Dashboard</h3>
      <div class="kt-input-icon kt-input-icon--right kt-subheader__search kt-hidden">
        <input type="text" class="form-control" placeholder="Search order..." id="generalSearch">
        <span class="kt-input-icon__icon kt-input-icon__icon--right">
          <span><i class="flaticon2-search-1"></i></span>
        </span>
      </div>
    </div>
  </div>

  <!-- end:: Content Head -->

  <!--Begin::Dashboard 1-->

  <!--End::Dashboard 1-->

  <!-- end:: Content -->

</div>
