{% load static %}
<script>
  // Submit post on submit
  $('#post_state_form').on('submit', function(event){
      event.preventDefault();
      document.getElementById("id_form_state-state").value = "Connecting...";
      post_state_form();
      // $('#id_button_state').prop('disabled', false);
  });
  // AJAX for posting
  function post_state_form() {
      $('#id_button_state').prop('disabled', true);
      $.ajax({
          url : "/ajax/state", // the endpoint
          type : "POST", // http method
          data : {
              IP : $('#id_form_state-IP').val(),
              }, // data sent with the post request

          // handle a successful response
          success : function(json) {
              $('#id_button_state').prop('disabled', false);
              $('#id_form_state-state').val(json.state); // remove the value from the input
          },

          // handle a non-successful response
          error : function(xhr,errmsg,err) {
              $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                  " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
              console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
          }
      });
  };
</script>
